<!-- put checkbox here -->

<%#= button_to("Add to Favorites" :action => "create", :controller => "favorites" %>

<%= form_for @issue, method: "GET", url: new_issue_path do |f| %>
  
  <select name="route" id="favoritesdropdown">
    <option value="">Favorites</option>

  </select>
  
  <%= f.submit "Save as favorite" %>
<% end %>




<!-- in controller, define Index (a GET request that returns a JSON for every favorite object belonging to that user) and Create (take a favorite object that the user will pass through the POST params and insert it into the DB; use find_or_create_by, then you won't need to use Update), Delete (does the opposite)

check for changes in the checkbox through a jQuery event listener
//when the checkbox is loaded, use ERB <%= checked = true %> (or something like that) to determine if it starts out as checked or not via a database query
//when that status changes, if the new state is checked, then do your POST request to connect to the Create function, otherwise do Delete

Add a new dropdown menu to the front page that captures the user's favorites
Upon click, make the  -->