<%= form_for @issue, method: "GET", url: new_issue_path do |f| %>
  
  <select name="route" id="favoritesdropdown">
    <option value="">Favorites</option>

  </select>
  
  <%= f.submit "Save as favorite" %>
<% end %>




