<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @issue.text %>
</p>


 
<%= link_to 'Back', issues_path %>
|
<%= link_to 'Edit', edit_issue_path(@issue) %>





