/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 20, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
body {
  text-align: center;
  width: 100%;
  font-family: "Avenir";
  margin: 0;
  padding: 0;
  background: #B1C0C7;
}

/* line 31, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
.banner {
  background: url("images/wmatabus4.jpg") no-repeat;
  background-color: #3D3C3A;
  height: 100px;
  padding-top: 20px;
}

/* line 38, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
.textbackground {
  width: 400px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 45, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
h1 {
  color: yellow;
  text-decoration: none;
  font-size: 60px;
  margin-bottom: 20px;
}

/* line 52, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
h2 {
  color: #0E258F;
}

/* line 58, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
.issuetable td {
  padding: 7px;
  border: white 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* line 64, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
table {
  margin-bottom: 20px;
}

/* line 68, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
.issuetable tr:nth-child(odd) {
  background-color: #B7B9B6;
  border: white 1 px solid;
}

/* line 74, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
.issuetable tr:nth-child(even) {
  background-color: white;
}

/* line 78, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
th {
  background-color: #0E258F;
  color: white;
}

/* line 83, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
td {
  word-wrap: break-word;
  max-width: 300px;
}

/* line 89, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
html, body {
  width: 100%;
}

/* line 92, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
table {
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  /* line 98, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
  .issuetable {
    max-width: 33.333%;
  }

  /* line 101, /Users/rebeccamills/Desktop/whatsamata/app/assets/stylesheets/application.scss */
  i {
    padding: 3px;
  }
}
